<br>
<ul class="rows">
    {{this.error}}
    {{#each dataList}}
    <li id="{{this.id}}"><b>Workout Name: </b> <span>{{this.name}}</span>, <b>Reps: </b> <span>{{this.reps}}</span>, <b>Weight: </b> <span>{{this.weight}}</span>, <b>Unit: </b> <span>{{this.unit}}</span>, <b>Date completed: </b> <span>{{this.date}}</span>
        <input type="hidden" id="{{this.id}}">
        <button type="submit" class="update">edit</button>
        <button type="submit" class="delete">delete</button>
    {{/each}}
</ul>